In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sqlalchemy import create_engine
import joblib

C:\Users\Victor\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.25.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# Connection string to the PostgreSQL database
connection_string = 'postgresql://postgres:140494@localhost:5433/vehicle_clean_labeled_2'

In [3]:
# Create a SQLAlchemy engine to connect to the database
engine = create_engine(connection_string)

In [4]:
# SQL query to fetch the data from the database table
query = 'SELECT * FROM vehicle_listings;' 
# Read the data from the database into a pandas DataFrame
vehicle_df = pd.read_sql(query, engine)

vehicle_df.sample(20)

,id,City,Province,Year,Make,Model,Price,Mileage,URL,Rebuilt_Predicted
194,195,Markham,ON,2017,Honda,Civic,22499.0,93000,facebook.com/marketplace/item/565001402320184/...,0
147,148,Brampton,ON,2008,Honda,Civic,5500.0,120000,facebook.com/marketplace/item/815321413366748/...,0
179,180,Mississauga,ON,2018,Honda,Civic,20550.0,139000,facebook.com/marketplace/item/2018869068464615...,0
214,215,Mississauga,ON,2016,Honda,Civic,17500.0,148000,facebook.com/marketplace/item/276441458364774/...,0
37,38,Montreal,QC,2013,Honda,Civic,10200.0,176000,facebook.com/marketplace/item/807037717682216/...,0
244,245,Thunder Bay,ON,2016,Honda,Civic,18950.0,172000,facebook.com/marketplace/item/808396987425278/...,0
213,214,North Bay,ON,2012,Honda,Civic,9450.0,134000,facebook.com/marketplace/item/808758620630296/...,0
59,60,Montreal,QC,2003,Honda,Civic,3500.0,174000,facebook.com/marketplace/item/6381350501948757...,0
139,140,Toronto,ON,2014,Honda,Civic,15995.0,123000,facebook.com/marketplace/item/3201435980162047...,0
87,88,Montreal,QC,2014,Honda,Civic,10499.0,199000,facebook.com/marketplace/item/797313695206617/...,0
125,126,Markham,ON,2019,Honda,Civic,24000.0,79000,facebook.com/marketplace/item/179329438382239/...,0
47,48,Pointe-Claire,QC,2006,Honda,Civic,5000.0,160000,facebook.com/marketplace/item/6385460238238852...,0
468,469,Surrey,BC,2019,Honda,Civic,25900.0,73000,facebook.com/marketplace/item/606906878093720/...,0
463,464,Surrey,BC,2012,Honda,Civic,12500.0,195000,facebook.com/marketplace/item/606045424737620/...,0
282,283,Winnipeg,MB,2016,Honda,Civic,21490.0,149000,facebook.com/marketplace/item/830899001983011/...,0
299,300,Saskatoon,SK,2019,Honda,Civic,24000.0,90000,facebook.com/marketplace/item/983353772889402/...,0
369,370,Edmonton,AB,2016,Honda,Civic,17999.0,116000,facebook.com/marketplace/item/983570389461139/...,1
388,389,Maple Ridge,BC,2010,Honda,Civic,9000.0,149000,facebook.com/marketplace/item/301198052433781/...,0
429,430,New Westminster,BC,2017,Honda,Civic,21990.0,87000,facebook.com/marketplace/item/245722065074275/...,1
144,145,Toronto,ON,2016,Honda,Civic,19999.0,134000,facebook.com/marketplace/item/809462954053836/...,0

In [5]:
# Remove rows with prices less than 5000 due to inconsitencies found in low value vehicles
vehicle_df = vehicle_df[vehicle_df['Price'] >= 5000]

# Display the number of rows in the filtered DataFrame
vehicle_df.shape[0]

442

In [6]:
# Close the database connection
engine.dispose()

In [7]:
# Preprocess the data - select relevant features ("City was removed due to poor results during testing")
X = vehicle_df[['Province', 'Year', 'Make', 'Model', 'Mileage', 'Rebuilt_Predicted']]
y = vehicle_df['Price']

In [8]:
# Convert categorical columns to one-hot encoded (get dummies) columns
X = pd.get_dummies(X, columns=['Province', 'Make', 'Model'], drop_first=True)

In [9]:
X.sample(20)

,Year,Mileage,Rebuilt_Predicted,Province_BC,Province_MB,Province_NB,Province_ON,Province_QC,Province_SK
284,2016,97000,0,False,True,False,False,False,False
216,2019,82000,0,False,False,False,True,False,False
281,2016,149000,0,False,True,False,False,False,False
148,2018,65000,0,False,False,False,True,False,False
15,2017,171000,0,False,False,False,False,True,False
124,2014,172000,0,False,False,False,True,False,False
174,2010,161000,0,False,False,False,True,False,False
33,2009,153000,0,False,False,False,False,True,False
290,2020,78000,0,False,False,False,False,False,True
241,2016,156000,0,False,False,False,True,False,False
387,2017,104000,0,True,False,False,False,False,False
269,2017,81000,0,False,True,False,False,False,False
208,2017,81000,0,False,False,False,True,False,False
104,2012,153000,0,False,False,False,False,True,False
242,2020,84000,0,False,False,False,True,False,False
346,2009,150000,0,False,False,False,False,False,False
178,2020,74000,0,False,False,False,True,False,False
276,2015,135000,0,False,True,False,False,False,False
140,2010,163000,0,False,False,False,True,False,False
11,2016,160000,0,False,False,False,False,True,False

In [10]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler to the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [12]:
# Create and train the Linear Regression model
model = LinearRegression()
model.fit(X_train_scaled, y_train)

LinearRegression()

In [13]:
y_pred = model.predict(X_test_scaled)

In [27]:
# Create a DataFrame to display y_test and y_pred side by side
result_df = pd.DataFrame({'Actual Price (y_test)': y_test, 'Predicted Price (y_pred)': y_pred})
result_df.sample(20)

     Actual Price (y_test)  Predicted Price (y_pred)
261                13990.0              14805.086378
320                27795.0              28448.448946
430                 8700.0               8873.670268
316                18995.0              18455.270241
451                14956.0              15692.761705
6                  10900.0              11199.274188
428                18499.0              16388.644496
390                12800.0              15076.836324
128                15900.0              15983.898060
202                13995.0              13448.355883
453                13998.0              13993.975567
86                 17995.0              16073.474770
116                13599.0              15042.852686
469                10500.0               9489.595649
54                  9000.0               9770.539651
369                17999.0              17760.329584
279                25995.0              27690.990895
245                12999.0              15211.490956
233                20488.0              18211.477547
422                29995.0              26387.670649

In [15]:
# Get only the rows where 'Predicted Price (y_pred)' is negative (previous issue when including "City" in the training data)
negative_predictions_df = result_df[result_df['Predicted Price (y_pred)'] < 0]

# Display the DataFrame with negative predicted prices
negative_predictions_df

Empty DataFrame
Columns: [Actual Price (y_test), Predicted Price (y_pred)]
Index: []

In [16]:
# Calculate R2 to evaluate the model's performance
r2 = r2_score(y_test, model.predict(X_test_scaled))
print("R-squared:", r2)

R-squared: 0.915007120806111

In [29]:
# Calculate the percentage-wise absolute difference for each row
result_df['Percentage-wise Absolute Difference'] = (abs(result_df['Actual Price (y_test)'] - result_df['Predicted Price (y_pred)']) / result_df['Actual Price (y_test)']) * 100

# Sort the DataFrame based on the percentage-wise absolute difference in ascending order
sorted_result_df = result_df.sort_values(by='Percentage-wise Absolute Difference', ascending=False)

# Display the sorted DataFrame
sorted_result_df.tail(20)

,Actual Price (y_test),Predicted Price (y_pred),Percentage-wise Absolute Difference
409,19500.0,19108.433418,2.008034
430,8700.0,8873.670268,1.996210
109,8850.0,8676.369040,1.961932
280,22985.0,23432.715695,1.947860
465,23995.0,24455.416823,1.918803
478,23998.0,24455.416823,1.906062
117,23950.0,24352.785630,1.681777
156,7900.0,7769.462903,1.652368
66,14000.0,14214.388771,1.531348
369,17999.0,17760.329584,1.326020
183,23799.0,24057.459969,1.086012
203,12750.0,12611.599843,1.085491
142,21000.0,21177.371187,0.844625
464,14200.0,14301.938258,0.717875
89,10300.0,10362.518149,0.606972
460,21500.0,21624.548984,0.579298
128,15900.0,15983.898060,0.527661
82,11495.0,11543.820793,0.424713
178,25499.0,25546.725304,0.187165
453,13998.0,13993.975567,0.028750

In [18]:
#Total number of lines in the test DataFrame
sorted_result_df.count()

Actual Price (y_test)                  111
Predicted Price (y_pred)               111
Percentage-wise Absolute Difference    111
dtype: int64

In [19]:
#Show only lines that are over 25% difference
over25_df = sorted_result_df[sorted_result_df['Percentage-wise Absolute Difference']>25]

#Count how many lines are over 25% difference
over25_df.count()

Actual Price (y_test)                  12
Predicted Price (y_pred)               12
Percentage-wise Absolute Difference    12
dtype: int64

In [20]:
#Show only lines that are under 15% difference
under15_df = sorted_result_df[sorted_result_df['Percentage-wise Absolute Difference']<15]

#Count how many lines are under 15% difference
under15_df.count()

Actual Price (y_test)                  81
Predicted Price (y_pred)               81
Percentage-wise Absolute Difference    81
dtype: int64

In [21]:
# Save the model to a file
joblib.dump(model, 'price_final_model.joblib')

['price_final_model.joblib']

In [22]:
# Load the model from the file
loaded_model = joblib.load('price_final_model.joblib')

In [26]:
# Create a random entry
random_entry = {
    'Province': 'Ontario',
    'Year': 2016,
    'Make': 'Honda',
    'Model': 'Civic',
    'Mileage': 150000,
    'Rebuilt_Predicted': 0
}

# Convert the random entry into a DataFrame
random_df = pd.DataFrame([random_entry])

# Convert categorical columns to dummy columns
random_df = pd.get_dummies(random_df, columns=['Province', 'Make', 'Model'], drop_first=True)

# Reorder columns to match the training data
random_df = random_df.reindex(columns=X.columns, fill_value=0)

# Scale the data using the same StandardScaler used during training
random_scaled = scaler.transform(random_df)

# Make the prediction using the loaded model
predicted_price = loaded_model.predict(random_scaled)

print("Predicted Price:", predicted_price[0])

Predicted Price: 19944.535575571197